# Environment variables
.env

# User's sensitive images
03. Macro Program/04. QRcode-Download/requestment images/

# Python virtual environment
03. Macro Program/04. QRcode-Download/venv/

# Downloaded files
03. Macro Program/04. QRcode-Download/downloads/
*.pptx
*.ppt

*.pdf
# Python cache
__pycache__/
*.py[cod]
*$py.class

# Fix for Windows reserved names
nul

# Ignore all _my_opinion folders
_my_opinion/
PDF(ocr)/
.vscode/